#my_todo_list{
	background-color: blue;
	margin: auto;
	width:400px;
}
.todoitem{
	background-color: red;
}

#data_filters{
	text-align:center;
}

.editbox{
	display: none
}

.editing .editbox{
	background-color: yellow;
	display: inline;
}

.editing label{
	display: none;
}
.delete {
	float: right;
}



